/*-------------- GENERAL STYLES-------------- */

html {
    font-size: 1rem;
    height: 100vh;
}

* {
    font-family: 'Maven Pro', Sans-Serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Patua One', Cursive;
}

/*--------------BACKGROUND-------------- */

body {
    background-image: url(./Media/Scene0.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
}

b {
    color: greenyellow;
}

main {
    height: 65vh;
    overflow: auto;
}

/*-------------- RESPONSIVE FONT AND HEIGHT -------------- */

@media (min-width: 768px) {
    html {
        font-size: 1.4rem;
    }
}

@media (min-width: 992px) {
    html {
        font-size: 1.2rem;
    }
}